@media screen and (min-width: 1145px){
       
    body{
        align-items: center; 
        background: url("images/fondo2.png") no-repeat;
        background-size: cover;
        
    }

    nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 1112px;
        height: 51px;
        justify-self: center;
        margin: auto;
        margin-bottom: 100px;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        list-style-type: none;
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    ul a:link {
        color: white;
        text-decoration: none;
    }

    ul a:visited {
        color: white;
        text-decoration: none;
    }

    ul a:hover {
        color: white;
        text-decoration: underline;
    }


    .signin {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 25px;
        width: 100%;
        padding: 10px 20px;
        align-self: center;
    }

    .signin:hover, .signin:active {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .contenedor {
        display: flex;
        justify-content: center;
    }

    .sec1 {
        display: grid;
        width: 1112px;
        grid-template-columns: 50% 50%;
    }

    #text_sec1 {
        grid-column: 1/ span 1;
    }

    #img_sec1 {
        grid-column: 2/ span 1;
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: flex-start;
    }

    #imagen_sec1 {
        width: 360px;
        height: auto;
        align-content: flex-start;
        align-items: flex-start;
    }


    h1 {
        font-family: 'Anek Telugu', sans-serif;
        font-size: 94px;
        color: black;
        line-height: 100px;
        font-weight: 600;
        margin: 0px;
        margin-top: 35px;
    } 

    p {
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        margin: 40px 0px;
        line-height: 150%;
    }

    #bot_sec1 {
        display: flex;
        align-items: flex-end;
        margin-top: 60px;
    }

    #startnow {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: rgb(10, 37, 64);
        border-radius: 25px;
        width: auto;
        padding: 10px 20px;
        align-self: center;
        border: none;
    }

    #startnow:hover, #startnow:active {
        background-color: rgba(10, 37, 64, 0.3);
    }

    #contactsales {
        color: rgb(112, 0, 255);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        border: none;
        border-radius: 25px;
        width: auto;
        padding: 10px 20px;
        align-self: center;
    }

    #contactsales:hover, #contactsales:active {
        color: rgba(112, 0, 255, 0.7);
    }

    #partners {
        display: grid;
        width: 1112px;
        grid-template-columns: 25% 25% 25% 25% ;
        margin-top: 60px;
    }

    .logo_partner {
        width: 200px;
        height: 60px;
    }
}    


@media screen and (max-width: 1145px) and (min-width: 768px) {
       
    body{
        align-items: center; 
        background: url("images/fondo2.png") no-repeat;
        background-size: cover;
        
    }

    nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 51px;
        justify-self: center;
        margin: auto;
        margin-bottom: 0px;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        list-style-type: none;
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    ul a:link {
        color: white;
        text-decoration: none;
    }

    ul a:visited {
        color: white;
        text-decoration: none;
    }

    ul a:hover {
        color: white;
        text-decoration: underline;
    }


    .signin {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 25px;
        width: 100%;
        padding: 10px 20px;
        align-self: center;
    }

    .signin:hover, .signin:active {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .contenedor {
        display: flex;
        justify-content: center;
    }

    .sec1 {
        display: grid;
        width: auto;
        grid-template-columns: 60% 40%;
        align-items: center;
    }

    #text_sec1 {
        grid-column: 1/ span 1;
        margin-left: 15px;
    }

    #img_sec1 {
        grid-column: 2/ span 1;
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: flex-start;
    }

    #imagen_sec1 {
        width: 360px;
        height: auto;
        align-content: flex-start;
        align-items: flex-start;
    }


    h1 {
        font-family: 'Anek Telugu', sans-serif;
        font-size: 70px;
        color: black;
        line-height: 110%;
        font-weight: 600;
        margin: 0px;
    
    } 

    p {
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        margin: 40px 0px;
        line-height: 150%;
    }

    #bot_sec1 {
        display: flex;
        align-items: flex-end;
        margin-top: 60px;
    }

    #startnow {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: rgb(10, 37, 64);
        border-radius: 25px;
        width: auto;
        padding: 10px 20px;
        align-self: center;
        border: none;
        margin-right: 15px;
    }

    #startnow:hover, #startnow:active {
        background-color: rgba(10, 37, 64, 0.3);
    }

    #contactsales {
        color: rgb(112, 0, 255);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        border: none;
        border-radius: 25px;
        width: auto;
        padding: 10px 20px;
        align-self: center;
    }

    #contactsales:hover, #contactsales:active {
        color: rgba(112, 0, 255, 0.7);
    }

    #partners {
        display: grid;
        width: 1112px;
        grid-template-columns: 25% 25% 25% 25% ;
        margin-top: 60px;
    }

    .logo_partner {
        width: 200px;
        height: 60px;
    }
}    

@media (max-width: 767px) {
       
    body{
        align-items: center; 
        background: url("images/fondo2.png") no-repeat;
        background-size: cover;
        margin: 0 10px;
        
    }

    nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 51px;
        justify-self: center;
        margin: auto;
        margin-bottom: 0px;

    }

    .menu {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        list-style-type: none;
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    ul a:link {
        color: white;
        text-decoration: none;
    }

    ul a:visited {
        color: white;
        text-decoration: none;
    }

    ul a:hover {
        color: white;
        text-decoration: underline;
    }


    .signin {
        display: none;
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 25px;
        width: 100%;
        padding: 10px 20px;
        align-self: center;
    }

    .signin:hover, .signin:active {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .contenedor {
        display: flex;
        justify-content: center;
    }

    .sec1 {
        display: flex;
        flex-grow: 0;
        align-items: center;
        margin-top: 15px;
    }

    #text_sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img_sec1 {
        display: none;
    }

    h1 {
        font-family: 'Anek Telugu', sans-serif;
        font-size: 58px;
        color: black;
        line-height: 110%;
        font-weight: 600;
        margin: 0px;
        overflow-wrap: break-word;
    } 

    p {
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        margin: 20px 0px;
        line-height: 150%;
        overflow-wrap: break-word;
    }

    #bot_sec1 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: flex-start;
    }

    #startnow {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: rgb(10, 37, 64);
        border-radius: 25px;
        width: auto;
        padding: 10px 20px;
        border: none;
        margin-right: 15px;
    }

    #startnow:hover, #startnow:active {
        background-color: rgba(10, 37, 64, 0.3);
    }

    #contactsales {
        color: rgb(112, 0, 255);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        border: none;
        border-radius: 25px;
        width: auto;
        padding: 10px 20px;
        align-self: center;
    }

    #contactsales:hover, #contactsales:active {
        color: rgba(112, 0, 255, 0.7);
    }

    #partners {
        display: grid;
        flex-grow: 0;
        grid-template-columns: 50% 50% ;
        margin-top: 60px;
        margin-left: 15px;
        align-self: center;
    }

    .logo_partner{
        flex-grow: 0;
        width: 100%;
    }

}    
